<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.smartidea.android.legalalerts">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_popup_reminder"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <provider
            android:name=".dbcontentprovider.DBContentProvider"
            android:authorities="es.smartidea.legalalerts.dbcontentprovider"
            android:exported="false">
        </provider>
    </application>

</manifest>
